/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS variables */
:root {
    --dark-color: #13293D;
    --neutral-color: #006494; 
    --highlight-color: #1B98E0;
    --bold-color: #1938D4;
    --white-colour: #E8F1F2;
}

/* Global styles */
html * {
    font-family: "Lato", sans-serif;
}

hr {
    opacity: 1;
}


/* Navbar */

#navbar {
    padding-top: 4rem;
    background-image: url(../images/Screenshot\ \(410\).png);
    background-position: 0% 40%;
    padding-right: 2rem;
}

#navbar .nav-tabs .nav-link.active, #navbar .navbar-toggler {
    background-color: var(--bold-color);
    color: var(--white-colour);
}

#navbar .nav-tabs .nav-link {
    background-color: var(--dark-color);
    color: var(--white-colour);
}

.navbar {
    padding-bottom: 0;
}

.offcanvas-body {
    padding: 0;
}

.offcanvas-body li {
    border: 1px solid;
}

.offcanvas-body .navbar-toggler {
    width: 15%;
    height: 10%;
    margin: 0.5rem;
}

.offcanvas-body .nav-link, .navbar-nav .nav-link.active {
    color: black;
}

/* footer */

footer {
    text-wrap-mode: nowrap;
    padding-left: 1rem;
    text-align: center;
}

footer h3 {
    font-size: 22px;
}

footer img {
    border-radius: 50%;
}

footer i {
    padding-right: 0.5rem;
}

/* Media Queries */

/* Medium Devices (tablets, 768px and up) */
@media screen and (min-width: 768px){
    footer {
        text-align: start;
    }
    
    /* Make all the images appear as the same size in the small screen layout as the larger screens */
    footer img {
        width: 100%;
    }
}